@font-face {
  font-family: Cookie;
  src: url("../fonts/Cookie-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Merienda;
  src: url("../fonts/Merienda-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Playball;
  src: url("../fonts/Playball-Regular.ttf") format("truetype");
}

//color-codes

$primary: #46afe6;
$secondary: #dcebf5;
$accent: #4bf5b9;

$secondaryLinear: linear-gradient(
  to top,
  #dcebf5,
  #e7eff8,
  #f1f4fb,
  #f9f9fd,
  #fff
);
$accentLinear: linear-gradient(to top, #aeffc1, #fff);

$primaryWhite: #ffffff;
$secondaryWhite: rgb(248, 246, 246);

$colorDark: #000;

//spaces
$sizeZero: 0;
$sizeOne: 0.5em;
$sizeTwo: 1em;
$sizeThree: 1.5em;
$sizeFour: 2em;
$sizeFive: 2.5em;

//Default-classes

//background-color
.bgPrimary {
  background-color: $colorDark;
}
.bgSecondary {
  background-color: $colorDark;
}
.bgSuccess {
  background-color: $colorDark;
}
.bgDanger {
  background-color: $colorDark;
}
.bgDark {
  background-color: $colorDark;
}
.bgLight {
  background-color: $colorDark;
}

//text-color
.textPrimary {
  color: $colorDark;
}
.textSecondary {
  color: $colorDark;
}
.textSuccess {
  color: $colorDark;
}
.textDanger {
  color: $colorDark;
}
.textDark {
  color: $colorDark;
}
.textLight {
  color: $colorDark;
}

//text-position

.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}
.textJustify {
  text-align: justify;
}

//positions
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.fixed {
  position: fixed;
}
.floatLeft {
  float: left;
}

//width-space
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 70%;
}
.w-100 {
  width: 100%;
}

//containers

.container {
  margin: 15px 10px;
}
.row {
  display: flex;
  padding: 10px;
}
.column {
  min-width: 8.333334%;
  max-width: 100%;
  width: auto;
}
.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.radiusLess {
  border-radius: 0;
}
.shadowLess {
  box-shadow: none;
}

//margin
.m-0 {
  margin: $sizeZero;
}
.m-1 {
  margin: $sizeOne;
}
.m-2 {
  margin: $sizeTwo;
}
.m-3 {
  margin: $sizeThree;
}
.m-4 {
  margin: $sizeFour;
}
.m-5 {
  margin: $sizeFive;
}

//margin-right
.mr-0 {
  margin-right: $sizeZero;
}
.mr-1 {
  margin-right: $sizeOne;
}
.mr-2 {
  margin-right: $sizeTwo;
}
.mr-3 {
  margin-right: $sizeThree;
}
.mr-4 {
  margin-right: $sizeFour;
}
.mr-5 {
  margin-right: $sizeFive;
}

//margin-left
.ml-0 {
  margin-left: $sizeZero;
}
.ml-1 {
  margin-left: $sizeOne;
}
.ml-2 {
  margin-left: $sizeTwo;
}
.ml-3 {
  margin-left: $sizeThree;
}
.ml-4 {
  margin-left: $sizeFour;
}
.ml-5 {
  margin-left: $sizeFive;
}

//margin-bottom
.mb-0 {
  margin-bottom: $sizeZero;
}
.mb-1 {
  margin-bottom: $sizeOne;
}
.mb-2 {
  margin-bottom: $sizeTwo;
}
.mb-3 {
  margin-bottom: $sizeThree;
}
.mb-4 {
  margin-bottom: $sizeFour;
}
.mb-5 {
  margin-bottom: $sizeFive;
}

//margin-top
.mt-0 {
  margin-top: $sizeZero;
}
.mt-1 {
  margin-top: $sizeOne;
}
.mt-2 {
  margin-top: $sizeTwo;
}
.mt-3 {
  margin-top: $sizeThree;
}
.mt-4 {
  margin-top: $sizeFour;
}
.mt-5 {
  margin-top: $sizeFive;
}

//margin-left&right
.mlr-0 {
  margin-left: $sizeZero;
  margin-right: $sizeZero;
}
.mlr-1 {
  margin-left: $sizeOne;
  margin-right: $sizeOne;
}
.mlr-2 {
  margin-left: $sizeTwo;
  margin-right: $sizeTwo;
}
.mlr-3 {
  margin-left: $sizeThree;
  margin-right: $sizeThree;
}
.mlr-4 {
  margin-left: $sizeFour;
  margin-right: $sizeFour;
}
.mlr-5 {
  margin-left: $sizeFive;
  margin-right: $sizeFive;
}

//margin-top&bottom
.mtb-0 {
  margin-top: $sizeZero;
  margin-bottom: $sizeZero;
}
.mtb-1 {
  margin-top: $sizeOne;
  margin-bottom: $sizeOne;
}
.mtb-2 {
  margin-top: $sizeTwo;
  margin-bottom: $sizeTwo;
}
.mtb-3 {
  margin-top: $sizeThree;
  margin-bottom: $sizeThree;
}
.mtb-4 {
  margin-top: $sizeFour;
  margin-bottom: $sizeFour;
}
.mtb-5 {
  margin-top: $sizeFive;
  margin-bottom: $sizeFive;
}

//padding
.p-0 {
  padding: $sizeZero;
}
.p-1 {
  padding: $sizeOne;
}
.p-2 {
  padding: $sizeTwo;
}
.p-3 {
  padding: $sizeThree;
}
.p-4 {
  padding: $sizeFour;
}
.p-5 {
  padding: $sizeFive;
}

//padding-right
.pr-0 {
  padding-right: $sizeZero;
}
.pr-1 {
  padding-right: $sizeOne;
}
.pr-2 {
  padding-right: $sizeTwo;
}
.pr-3 {
  padding-right: $sizeThree;
}
.pr-4 {
  padding-right: $sizeFour;
}
.pr-5 {
  padding-right: $sizeFive;
}

//padding-left
.pl-0 {
  padding-left: $sizeZero;
}
.pl-1 {
  padding-left: $sizeOne;
}
.pl-2 {
  padding-left: $sizeTwo;
}
.pl-3 {
  padding-left: $sizeThree;
}
.pl-4 {
  padding-left: $sizeFour;
}
.pl-5 {
  padding-left: $sizeFive;
}

//padding-bottom
.pb-0 {
  padding-bottom: $sizeZero;
}
.pb-1 {
  padding-bottom: $sizeOne;
}
.pb-2 {
  padding-bottom: $sizeTwo;
}
.pb-3 {
  padding-bottom: $sizeThree;
}
.pb-4 {
  padding-bottom: $sizeFour;
}
.pb-5 {
  padding-bottom: $sizeFive;
}

//padding-top
.pt-0 {
  padding-top: $sizeZero;
}
.pt-1 {
  padding-top: $sizeOne;
}
.pt-2 {
  padding-top: $sizeTwo;
}
.pt-3 {
  padding-top: $sizeThree;
}
.pt-4 {
  padding-top: $sizeFour;
}
.pt-5 {
  padding-top: $sizeFive;
}

//padding-left&right
.plr-0 {
  padding-left: $sizeZero;
  padding-right: $sizeZero;
}
.plr-1 {
  padding-left: $sizeOne;
  padding-right: $sizeOne;
}
.plr-2 {
  padding-left: $sizeTwo;
  padding-right: $sizeTwo;
}
.plr-3 {
  padding-left: $sizeThree;
  padding-right: $sizeThree;
}
.plr-4 {
  padding-left: $sizeFour;
  padding-right: $sizeFour;
}
.plr-5 {
  padding-left: $sizeFive;
  padding-right: $sizeFive;
}

//padding-top&bottom
.ptb-0 {
  padding-top: $sizeZero;
  padding-bottom: $sizeZero;
}
.ptb-1 {
  padding-top: $sizeOne;
  padding-bottom: $sizeOne;
}
.ptb-2 {
  padding-top: $sizeTwo;
  padding-bottom: $sizeTwo;
}
.ptb-3 {
  padding-top: $sizeThree;
  padding-bottom: $sizeThree;
}
.ptb-4 {
  padding-top: $sizeFour;
  padding-bottom: $sizeFour;
}
.ptb-5 {
  padding-top: $sizeFive;
  padding-bottom: $sizeFive;
}

//---------------------------

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  transition-duration: 0.3s;
  box-sizing: border-box;
  scroll-behavior: smooth;

  ul {
    display: inline-flex;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
}

//default-class

.section {
  display: grid;
  align-content: center;

  &-title {
    font-family: Cookie;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: $primary;

    &::after {
      content: "";
      position: absolute;
      background: $primary;
      width: 100px;
      height: 3px;
      right: 25%;
      margin-top: -33px;
    }

    &::before {
      content: "";
      position: absolute;
      background: $primary;
      width: 100px;
      height: 3px;
      left: 25%;
      margin-top: 33px;
    }

    .title-round {
      position: absolute;
      background: rgba($primary, 0.2);
      z-index: -1;
      width: 110px;
      height: 110px;
      border-radius: 5em;
      left: 31%;
      margin-top: -2.28em;
    }
  }
}

//header

.header {
  font-family: Merienda;
  top: 0;
  z-index: 5;
  background-color: $primary;

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navLink {
      color: $primaryWhite;
      padding-bottom: 4px;
      cursor: pointer;
      border-radius: 1em;
      padding: 4px 15px;
      font-size: 14px;

      &:hover {
        background-color: $secondaryWhite;
        color: $primary;
        outline: 1px solid rgba($secondaryWhite, 0.5);
        outline-offset: 3px;
      }
    }

    &__navItems > span {
      background-color: rgba($secondaryWhite, 0.5);
      width: 13px;
      height: 3px;
      visibility: hidden;
      margin: 13px 4px;
      transition-duration: 0s;
    }

    .active {
      background-color: $secondaryWhite;
      color: $primary;
      outline: 1px solid rgba($secondaryWhite, 0.5);
      outline-offset: 3px;
    }
  }
}

//home

.homeContent {
  height: 100vh;
  text-align: center;
  color: $primaryWhite;
  // background-image: linear-gradient(to bottom, #46afe6, #76beea, #9bcded, #bcdcf1, #dcebf5);
  background-image: linear-gradient(
    to bottom,
    #46afe6,
    #00c3ed,
    #00d6e7,
    #00e7d5,
    #4bf5b9
  );

  h1 {
    padding-top: 1em;
    font-family: Cookie;
    font-size: 6em;
  }

  p:nth-child(2) {
    font-family: Playball;
    font-size: 2em;
    margin-top: -20px;
  }

  p:nth-child(3) {
    font-size: 2.7em;
    margin-top: 10px;
    font-family: Cookie;
    padding: 0px 7em;
  }

  &-buttons {
    margin-top: 1.5em;

    button {
      border: 0;
      padding: 5px 20px;
      font-size: 25px;
      margin: -2px;
      cursor: pointer;
      color: $primaryWhite;
    }

    & .btnWeb {
      background-color: $primary;
    }
    & .btnGraph {
      background-color: $primaryWhite;
      color: $primary;
    }
  }

  &-bgImg {
    background-image: url("../img/grass-pink.png");
    height: 6em;
    background-repeat: repeat-x;
    margin-top: 8em;
  }
}

//profile

.profile {
  //background-image: $secondaryLinear;

  &-contents {
    position: relative;
    z-index: 1;
  }

  &-card {
    padding: 10px;
    background-color: $primary;
    font-size: 1.2em;
    color: $primaryWhite;
    font-family: Merienda;

    &::before {
      content: "";
      position: absolute;
      background: $accent;
      width: 20%;
      height: 62%;
      z-index: -1;
      margin: -10px 0 0 -10px;
      transform: rotate(6deg);
      transition-duration: 0.2s;
    }

    &:hover {
      &::before {
        transform: rotate(0deg);
        outline: 1px solid $primary;
        outline-offset: 5px;
      }
    }

    &__title {
      text-align: center;
      background: $secondary;
      color: $primary;
      margin: 0px -10px;
      padding: 5px 0px;
    }

    &__body {
      font-size: 17px;
      text-align: center;
      padding: 10px;
    }
  }
  .mini-shapes__profileBoxOne {
    position: absolute;

    &::before {
      content: "";
    }
  }
}

//ask

.ask-contents {
  background-image: $accentLinear;

  .step-marker {
    button {
      background-color: $primary;
      border-radius: 2em;
      width: 45px;
      height: 45px;
      border: 0;
      color: $primaryWhite;
      font-size: 20px;
      opacity: 0.4;

      &::after {
        content: "";
        background-color: $primary;
        width: 82px;
        height: 5px;
        position: absolute;
        margin-top: 10px;
        opacity: 0.4;
      }

      &:nth-child(4)::after {
        content: "";
        display: none;
      }
    }

    &__marked {
      background: $primary;
      opacity: 1 !important;
    }
  }

  input[type="button"],
  input[type="submit"] {
    background: $primary;
    color: $primaryWhite;
    cursor: not-allowed;

    &:focus {
      background: $primary !important;
      color: $primaryWhite;
    }
  }

  input {
    width: 100%;
    font-size: 20px;
    padding: 7px;
    border-radius: 1em;
    border: 1px solid $primary;
    margin: 7px 0px;
    text-align: center;
    word-spacing: -7px;
    font-family: monospace;
    outline: none;
    background: rgba($primary, 0.1);

    &:focus {
      background: $primaryWhite;
    }
  }

  input:focus::placeholder {
    opacity: 0;
  }

  .hint {
    color: red;
    font-family: monospace;
    font-size: 16px;
  }

  .personal-form {
    display: block;
    width: 30%;
    text-align: center;
  }
  .project-form {
    display: none;
    width: 30%;
    text-align: center;

    input[name="web"],
    input[name="new"] {
      width: 50%;
      float: left;
      border-radius: 1em 0 0 1em;
    }
    input[name="graphic"],
    input[name="exist"] {
      width: 50%;
      border-radius: 0 1em 1em 0;
      background: rgba($primary, 0.1);
      border: 1px solid $primary;
      color: #0007;
    }
  }
  .files-form {
    display: none;
    width: 30%;
    text-align: center;
    input[type="file"] {
      padding: 0;
    }
    input[type="file"]::file-selector-button {
      border: 0;
      outline: 0;
      background: $primary;
      font-size: 16px;
      padding: 7px 15px;
      margin-left: -3.3em;
      border-radius: 1em 0 0 1em;
      color: $primaryWhite;
    }
  }
  .final-form {
    display: none;
    width: 30%;
    text-align: center;

    p {
      font-family: monospace;
      color: $primary;
      font-size: 25px;
    }

    i {
      font-size: 4em;
      color: $primary;
    }
  }
}

//testimonial

.testimonial {
  background-image: $secondaryLinear;
  color: $secondaryWhite;
  font-family: Merienda;
  transition-duration: 5s;
  
  &-content{
    background-color:$primary;
    width: 25%;
    margin: 0 20px;
    
    &:hover{
      &::after{
        content:'';
        
      }
    }
  }
  &__title{
    background: rgba($primaryWhite, 0.8);
    color: $primary;
    padding: 8px 0;
    margin: 5px 0;

    span{
      margin: -1px 10px;
    }
  }
  &__body{
    padding: 5px 15px 13px 15px;
    font-size: 15px;
  }
}

//footer

.footer {
  background: rgba(255, 0, 81, 0.2);

  &-card__body {
    ul {
      display: block !important;
    }
    span {
      float: left;
    }
  }

  &-card {
    padding: 10px;
    background-color: rgba(255, 0, 81, 0.2);
    color: $primaryWhite;
    margin: 0 4px;
    width: 25%;

    &__title {
      background: #e10051;
      margin: -10px;
      padding: 5px 0px;
      text-align: center;
      font-family: Cookie;
      font-size: 26px;
    }

    &__body {
      padding-top: 15px;
      font-family: Cookie;

      a {
        color: $primaryWhite;
      }
      i {
        padding: 13px;
        font-size: 1em;
        background: rgba(225, 0, 81, 0.7);
      }
      li {
        background: rgba(225, 0, 81, 0.7);
        padding: 7px 3em;
        margin: 5px 0;
        font-size: 25px;
      }
    }
  }
}

.intro-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $primaryWhite;
  z-index: 5;

  svg text {
    font-size: 150px;
    stroke: #0007;
    stroke-width: 3;
    animation: nameAnimate 8s infinite alternate;
  }
}

/* Keyframes */

@keyframes nameAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: $primaryWhite;
  }
  50% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 20%;
    fill: #fff5;
  }
  100% {
    stroke-dasharray: 100% 100%;
    stroke-dashoffset: 100%;
    fill: #0007;
  }
}

/* Responsive */

@media (max-width: 480px) {
  .intro-loader svg text {
    font-size: 70px;
    stroke-width: 2;
  }
}

@media (max-width: 768px) {
  .intro-loader svg text {
    font-size: 100px;
    stroke-width: 2;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 1200px) {
}

@media (min-width: 1201px) {
}
